* {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.cooking-lists {
    background-color: white;
}

.title {

    display: block
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    margin: 10px;
}

h4 {
    text-align:center;
    font-weight:bold;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto
    ;
}

ol {
    padding: 25px;
    margin: 5px;
}

ul {

    text-align: center;
    /* background-color: rgb(189, 187, 187); */
    color: rgb(39, 39, 39);   
}

li {
    margin: 5px;
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: bold;
    
}

a:visited {
    color: darkblue;
}